@import url(global.css);
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: var(--font);
}
body{
    background: var(--green-light) !important;
}
header{
    width: 100%;
    height: 7rem;
    background: var(--aqua-green);
}
.nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    user-select: none;
}

.div-logo{
    width: 14rem;
    height: 7rem;
}
.div-logo a{
    width: 100%;
    height: 100%;
}
.img-logo{
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.items{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 1rem 2rem .5rem;
    flex-wrap: nowrap;
}

.items li{
    margin: 1rem;
    padding: .5rem;
    transition: border-bottom .5s;
    border-bottom: var(--aqua-green) .2rem solid;
    list-style: none;
}

.items li:hover{
    border-bottom: var(--green-light) .2rem solid;
}
.items li a{
    text-decoration: none;
    color: var(--green-light);
    font-weight: 600;
}
.bars{
    position:absolute;
    display: none;
    cursor: pointer;
    right: 5%;
}
.bars i{
    font-size: 2rem;
    color: var(--green-light);
}
main{
    transition: margin .3s;
    background-color: var(--green-light);
    z-index: 100;
}
.div-banner{
    width: 100%;
    height: auto;
}
.img-banner{
    width: 100%;
    height: auto;
}

.div-kind{

    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    background-color: var(--aqua-green);
}

.div-kind .candy{

    width: 16rem;
    height: 16rem;
    margin: 2rem;
    padding: 3rem;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background: var(--green-light);
    color: var(--aqua-green);
    border-radius: 40%;

}

.div-kind .candy i{
    font-size: 7rem;
    margin-bottom: 1rem;
}

.div-kind .candy h3{
    font-weight: 600;
}

.div-products{
    width: 100%;
    margin-top: 3rem;
    user-select: none;
}
.div-title{
    display: flex;
    align-items: center;
    margin-left: 2rem;
}
.div-title-img{
    width: 10rem;
    height: 10rem;
}
.div-title-img img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.div-title h1{
    color: var(--aqua-green);
    font-weight: 800;
}

.div-items{
    width: 95%;
    margin: 3rem auto;
    background: transparent;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}
.div-items a{
    text-decoration: none;
}
.item{
    width: 17rem;
    height: 26rem;
    margin: 0 1rem 1rem;
    background: var(--green);
    border-radius: 15px;
    overflow: hidden;
    box-shadow: 0px 10px 39px -15px rgba(141,167,71,0.87);
}
.item-img{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 50%;
    background: transparent;
}
.item-img img{
    width: 100%;
    max-height: 100%;
    object-fit: scale-down;
}

.item-info{
    text-align: center;
    width: 100%;
    height: 35%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: transparent;
    padding: 0 1rem;
    margin: 0 auto;
    transition: background-color .3s;
}
.div-items a .item-info:hover{
    background-color: #798f3e;
}

.item-info h3{
    font-size: 1.3rem;
    color: var(--green-light);
}
.item-info h4{
    color: var(--green-light);
    font-weight: 300;
}
.item button{
    width: 100%;
    height: 15%;
    border: none;
    background-color: var(--aqua-green);
    color: var(--green-light);
    font-size: large;
    font-weight: 600;
    transition: background-color .3s;
}

.item button:hover{
    background-color: #46afa1;
}

footer{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 2rem 0;
    background-color: var(--aqua-green);
}
footer div a,p{
    margin: 0;
    color: var(--green-light);
}
footer div a{
    font-size: 2rem;
    transition: all .3s;
    margin: 0 .2rem;
}
footer div a:hover{
    color: #cde6c3;
}

@media screen and (max-width:1180px) {
    .div-kind .candy{
        width: 12rem;
        height: 12rem;
    }
    .div-kind .candy i{
        font-size: 5rem;
    }
    .div-kind .candy h3{
        font-size: 1.1rem;
    }
}
@media screen and (max-width:790px) {
    .bars{
        display: initial;
    }
    .items{
        display: none;
    }
    .items-active{
        position: absolute;
        flex-direction: column;
        top: 6rem;
        width: 100%;
        margin: 2rem 0;
        padding: 0;
        display: flex;
    }
    .items li a{
        color: #46afa1;
    }
    .main-active{
        margin-top:18rem;
    }
    .div-kind .candy{
        width: 9rem;
        height: 9rem;
    }
    .div-kind .candy i{
        font-size: 3rem;
    }
    .div-kind .candy h3{
        font-size: .8rem;
        text-align: center;
    }
}